<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4><code>whoami</code></h4>
    <p>iOS and Ruby developerh</p>
  </div>
  <div class="sidebar-module">
    <div class="btn-group-vertical btn-block" role="group" aria-label="links">
    <a class="btn btn-default btn-lg" href="https://github.com/jkereako" target="_blank" type="button">
      <span class="fa fa-github" aria-hidden="true"></span> GitHub
    </a>
  </div>
  </div>
</div><!-- /.blog-sidebar -->
