//colors
$color_mariner_approx: rgb(40, 121, 208);
$color_anakiwa_approx: rgb(157, 220, 255);
$color_alto_approx: rgb(221, 221, 221);
$black: rgb(0, 0, 0);
$yellow: rgb(255, 255, 0);
$silver: rgb(192, 192, 192);
$color_storm_dust_approx: rgb(102, 102, 102);
$alabaster: rgb(250, 250, 250);
$color_denim_approx: rgb(34, 104, 178);
$color_azure_approx: rgb(39, 93, 161);
$white: rgb(255, 255, 255);
$color_log_cabin_approx: rgb(34, 34, 34);
$color_black_squeeze_approx: rgb(242, 248, 252);
$color_link_water_approx: rgb(219, 231, 243);
$concrete: rgb(242, 242, 242);
$color_cararra_approx: rgb(235, 235, 235);
$color_gravel_approx: rgb(71, 71, 71);
$color_gray_nurse_approx: rgb(233, 233, 233);
$color_silver_chalice_approx: rgb(170, 170, 170);
$color_tundora_approx: rgb(68, 68, 68);

//fonts
$font_0: 'Roboto Slab';
$font_1: 'Helvetica Neue';
$font_2: 'Helvetica';
$font_3: 'Arial';
$font_4: 'serif';
