//colors
$color_fuscous_gray_approx: #555;
$color_mine_shaft_approx: #333;
$color_boston_blue_approx: #428bca;
$black_10: rgba(0,0,0,.1);
$color_botticelli_approx: #cdddeb;
$white: #fff;
$color_mountain_mist_approx: #999;
$color_wild_sand_approx: #f5f5f5;
$color_alabaster_approx: #f9f9f9;
$mercury: #e5e5e5;

//fonts
$content_font: Georgia;
$font_1: Times New Roman;
$font_2: Times;
$font_3: serif;
$title_font: Roboto Slab;
$font_5: Helvetica;
$font_6: Arial;
$font_7: sans-serif;

//urls
$google_font_base_url: "http://fonts.googleapis.com/css?family=";
$google_fonts:("Roboto+Slab:400,600,700,800",
                  "Open+Sans:400,600,700,800");
