---
layout: default
---

<article id="main-content" role="article" itemscope itemtype="http://schema.org/Article">
  {% include page_header.html %}

  <div class="content" itemprop="articleBody" data-swiftype-index="true">
    {{ content }}
  </div>
  <hr>


  <footer role="complementary">
    {% if page.revisions %}
    <section id="revisions">
      <small>Revisions</small>
      <dl>
      {% for revision in page.revisions %}
        <dt>Revised {{ revision[0] | ordinalize }}</dt>
        <dd>{{ revision[1] | markdownify }}</dd>
      {% endfor %}
      </dl>
    </section>
    {% endif %}
  </footer>
</article>
