---
layout: default
---

<article id="main-content" role="article" itemscope itemtype="http://schema.org/Article">
  <header role="heading">
    <h1 class="title" itemprop="name">
      <a href="{{ page.url }}">{{ page.title | camel_break }}</a>
    </h1>

    <strong>Written on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | ordinalize }}</time></strong>
  </header>

  <div class="content" itemprop="articleBody" data-swiftype-index="true">
    {{ content }}
  </div>

  <footer role="complementary">
    {% if page.revisions %}
    <section id="revisions">
      <small>Revisions</small>

      <dl>
      {% for revision in page.revisions %}
        <dt>Revised {{ revision[0] | ordinalize }}</dt>
        <dd>{{ revision[1] | markdownify }}</dd>
      {% endfor %}
      </dl>
    </section>
    {% endif %}
  </footer>
</article>
